* {
	font-family: 'Open Sans', sans-serif;
}

.flex {
	display: flex;
}

main {
	flex-direction: row;
	flex: 1 1 auto;
	justify-content: space-between;
	min-height: 100px;
	overflow-y: scroll;
}

body {
	margin: 0;
}

header {
	text-align: center;
	background-color: #404041;
	padding: 15px;
}

h1 {
	color: #dd1972;
	font-weight: 700;
	font-size: 38pt;
	margin: 0px;
}

.title-light {
	font-weight: 300;
}

h2 {
	color: #ffffff;
	font-weight: 300;
	font-size: 12pt;
	justify-content: center;
}

h2::before,
h2::after {
  display: block;
  content: "";
  border-top: solid 2px white;
  width: 89px;
  height: 1px;
  z-index: 1;
  align-self: center;
}

h2 span {
	margin: 0px 10px;
}
.sub-title {
	margin-top: 1px;
}

.button {
	border-radius: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: #6e6e6e;
	color: white;
	font-size: 13pt;
	outline: none;
	cursor: pointer;
}

.button:hover {
	background-color: #dd1972;
}

button {
	visibility: : hidden;
}

.middle-buttons {
    width: 30%;
}

.mid-buttons {
	margin-top: 20px;
	justify-content: space-around;
}

.main-left {
	width: 50%;
	justify-content: space-around;
	flex-direction: column;
	background-color: #f7f7f7;
	color: #404041;
}

.left-box {
    margin: 10px;
    background-color: white;
    border: solid #e8e8e8 2px;
}

h5 {
	width: 100%;
	margin: 0;
}

.corner-title {
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 6px;
	margin-left: 2.2%;
}

label {
	display: block;
	color: #6e6e6e;
}

input {
	width: 100%;
}

.left-1 {
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.range-box {
	width: 100%;
	justify-content: space-around;
}

.min-range {
	width: 33%;
	flex-direction: column;
}

.max-range {
	width: 33%;
	flex-direction: column;

}

.update-button {
	width: 20%;
	align-self: flex-end;
	justify-content: center;
}

.input-height {
	padding: 5px;
}

.text-box {
	border: #e8e8e8 2px solid;
}

.left-2 {
	flex-direction: column;
	padding: 15px;
}

.left-2 p {
	margin: 0;
}

.left-3 {
	flex-direction: row;
	flex: auto;
	align-items: flex-start;
	flex-wrap: wrap;
}

.forms-flex {
	flex-direction: row;
	justify-content: space-between;
}

.chall-name {
	width: 350px;
}

.chall-guess {
	width: 30%;
	padding-right: 30px;
}

.error {
	visibility: hidden;
	color: #dd1972;
	font-size: 10pt;
}

.big-number-box {
	flex-direction: column;
	flex: auto;
	text-align: center;
}

.left-3 {
	max-height: 250px;
}

.number-boxes {
	width: 100%;
	padding: 20px 0px 20px 0;
}

.number-boxes p {
	margin: 0;
	color: #6e6e6e;
	width: 100%;
}

.big-number-1 {
	color: #dd1972;
	font-size: 70pt;
	font-weight: 800;
}

.big-number-2 {
	color: #dd1972;
	font-size: 70pt;
	font-weight: 800;
}

.latest-score {
	width: 100%;
	margin: 0;
	color: #6e6e6e;
}

.chal-one-name, .chal-two-name {
	color: #6e6e6e;
	font-size: 14pt;
	font-weight: bold;
}

.big-number-box p {
	font-size: 14pt;
	font-weight: 300;
}

#span-min, #span-max {
	color: #6e6e6e;
	text-decoration: underline;
	font-weight: 700;
}
.main-right {
	padding: 10px;
	width: 50%;
	align-items: center;
	background-color: #d0d2d3;
	flex-direction: column;
}

.cards {
	width: 70%;
	border: solid #c7c7c7 2px;
	flex-direction: column;
	justify-content: space-between;
	height: 250px;
	width: 90%;
	margin: 10px 30px;
	color: #6e6e6e;
	background-color: white;
}

.card-top, .card-bottom {
	flex-direction: row;
	/*justify-content: space-between;*/
	margin: 0px 20px;
}

.card-bottom {
	border-top: #e8e8e8 2px solid;
	justify-content: space-between;
}

.card-bottom p {
	color: lightgray;
}



.card-bottom span {
	color: #6e6e6e;
}


.card-top {
	border-bottom: #e8e8e8 2px solid;
	justify-content: space-around;
}

.card-top p {
	color: lightgray;
}

.card-middle {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 30em) {
	main, 
	.range-box, 
	.forms-flex, 
	.mid-buttons, 
	.number-boxes {
		flex-direction: column;
	}
	.main-left,
	.main-right {
		width: 100%;
	}
	.chall-guess,
	.chall-name,
	.min-range,
	.max-range {
		width: 95%;
	}
	.update-button {
		align-self:flex-start;
	}

	.challenger-one-score {
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px solid #d0d2d3;
	}
	.update-button{
		margin-top: 10px;
	}
	.middle-buttons {
		width: 100%;
		margin-bottom: 8px;
	}
	.number-boxes {
		margin-right: 40px;
		margin-left: 40px;
	}
	.corner-title {
		margin-left: 0;
	}
	label {
		margin-bottom: 3px;
		margin-top: 3px;
	}
	font-size: 24pt;
};

.card-middle h3, h4 {
	margin: 0;
}

.card-middle h4 {
	color: lightgray;
}

.cards button {
	align-self: center;
	margin: 0px 30px;
	border-radius: 40px;
	height: 30px;
	font-size: 18pt;
	background-color: #6e6e6e;
	color: white;
	outline: none;

