* {
	font-family: 'Open Sans', sans-serif;
}

.flex {
	display: flex;
}

main {
	flex-direction: row;
	justify-content: space-between;
}

header {
	text-align: center;
	background-color: #404041;
	padding: 8px;
}

h1 {
	color: #dd1972;
	font-weight: 700;
	font-size: 38pt;
	/*margin: -8px;*/
}

.title-light {
	font-weight: 300;
}

h2 {
	color: #ffffff;
	font-weight: 300;
	font-size: 12pt;
	justify-content: center;
}

h2::before,
h2::after {
  display: block;
  content: "";
  border-top: solid 2px white;
  width: 100px;
  height: 1px;
  z-index: 1;
  align-self: center;
}

h2 span {
	margin: 0px 10px;
}

.button {
	border-radius: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: #6e6e6e;
	color: white;
	font-size: 14pt;
}

.middle-buttons {
    width: 30%;
}

.mid-buttons {
	margin-top: 20px;
	justify-content: space-around;
}

.main-left {
	width: 50%;
	justify-content: space-around;
	flex-direction: column;
	background-color: #f7f7f7;
	color: #404041;
}

.left-box {
    margin: 10px;
    background-color: white;
    border: solid #e8e8e8 2px;
}

h5 {
	width: 100%;
	margin: 0;
}

label {
	display: block;
	color: #6e6e6e;
}

input {
	width: 100%;
}

.left-1 {
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.range-box {
	width: 100%;
	justify-content: space-around;
}

.min-range {
	width: 33%;
	flex-direction: column;
}

.max-range {
	width: 33%;
	flex-direction: column;

}

.update-button {
	width: 20%;
	align-self: flex-end;
}

.input-height {
	padding: 7px;
}

.left-2 {
	flex-direction: column;
	padding: 15px;
}

.left-3 {
	flex-direction: row;
	flex: auto;
	align-items: flex-start;
	flex-wrap: wrap;

}

.forms-flex {
	flex-direction: row;
	justify-content: space-between;
}

.chall-name {
	width: 350px;
}

.chall-guess {
	width: 30%;
	padding-right: 30px;
}

.big-number-box {
	flex-direction: column;
	flex: auto;
	text-align: center;
}

.number-boxes {
	width: 100%;
}

.latest-score {
	width: 100%;
	margin: 0;
}

.main-right {
	padding: 10px;
	width: 50%;
	justify-content: center;
	background-color: #d0d2d3;
}

.cards {
	width: 70%;
	border: solid #c7c7c7 2px;
	flex-direction: column;
	height: 250px;
	width: 600px;
	margin: 10px 30px;
	color: #6e6e6e;
	background-color: white;
}

.card-top, .card-bottom {
	flex-direction: row;
	justify-content: space-around;
}

.card-middle {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18pt;
}